:global {
    .header-logo {
        // .header-logo {
        height: 100%;
        width: 20%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        transition: width 0.3s;
        .header-title {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 60px;
            .logo-img {
                height: 36px;
                width: 116px;
            }
            .logo-img-small {
                height: 18px;
                width: 58px;
                margin-left: -55px;
            }
            .logo-name {
                color: white;
                padding-left: 10px;
                font-size: 13px;
            }
        }
    }
}
