.header {
  padding: 0;
  height: 50px;
  line-height: 50px;
  background: #5f4280;
  .header-right {
    background: transparent;
    float: right;
    display: flex;
    align-items: center;
  }
}
.custom-thems {
  color: red;
}
.ant-layout-header {
  background: #5f4280;
}
